/* ADD YOUR STYLES HERE */
/* Exercise 1*/
table {
    width: 100%;
}

.names td {
    padding: 10px 0px;
}

.names-2 td {
    padding: 10px 0px;
}

.exercise-1 {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}


.exercise-2 {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

th {
    padding: 10px 0px;
}


/* Exercise 2 */
#stats {
    width: 30%;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    text-align: center;
}

.prominent {
    font-size: 35px;
    font-weight: bolder;
}
.stat-text {
    color: gray;
    font-size: 12px;
    font-weight: lighter;
}


/* Exercise 3 */
.bar {
    text-align: left;
    height: 18px;
}

.percentage {
    background-color: #599ede;
    color: white;
    height: 18px;
    padding: 10px;
    border-radius: 5px;
    
}

.type {
    width: 15%;
    text-align: right;
    padding: 0px;
    font-size: 16px;
    height: 18px;
}


/* Exercise 4 */
/*
.lightbox {
    position: absolute;
    top: 25%;
    left: 25%;
    border-radius: 15px;
    width: 50%;
    padding: 16px;
    background-color: white;
    overflow: auto;
}

.lightbox-bg {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: left;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
}

.button {
    float: right;
    width: 50px;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    color: white;
    background-color: red;
}

.button-text {
    color: white;
    text-decoration: none;
}
/*

/* Exercise 5 */

img {
    float: left;
    margin-right: 10px;
}